<section class="section comments">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <div class="swiper comments__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="comments__el">
                <div class="comments__el-rating">
                  <span class="comments__el-rating-el comments__el-rating-el--active"></span>
                  <span class="comments__el-rating-el comments__el-rating-el--active"></span>
                  <span class="comments__el-rating-el comments__el-rating-el--active"></span>
                  <span class="comments__el-rating-el comments__el-rating-el--active"></span>
                  <span class="comments__el-rating-el"></span>
                </div>
                <p class="comments__el-text">I’m married and mother of two girls. I am passionate about traveling but we must admit that it is a huge cost when booking vacations for 4 people. I heard that MWR Life was presenting great travel prices and I did not hesitate. I even registered as a Consultant since I was looking for additional income. The Travel Advantage™ membership is awesome. We were able to book a stay for the family on a recent trip and on another platform the proposed price was 134 euros, but with MWR Life it was only 82 euros and included 4 breakfasts. We are looking forward to traveling more and for a lot less.</p>
                <div class="comments__el-author">
                  <div class="comments__el-author-imgContainer">
                    <img class="comments__el-author-img" src="img/membership/feedbacksAuthor.png" alt="avatar">
                  </div>
                  <div class="comments__el-author-descr">
                    <div class="comments__el-author-name">Dalila R.</div>
                    <div class="comments__el-author-post">Member</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination">
            <button class="swiper-pagination__el swiper-pagination__el--prev">
              <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.11353 6.41821H11.5066M11.5066 6.41821L6.31005 1.22168M11.5066 6.41821L6.31005 11.6147" stroke="#667085" stroke-width="1.48472" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>       
            </button>
            <button class="swiper-pagination__el swiper-pagination__el--next">
              <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.11353 6.41821H11.5066M11.5066 6.41821L6.31005 1.22168M11.5066 6.41821L6.31005 11.6147" stroke="#667085" stroke-width="1.48472" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                                
            </button>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <img data-src="img/membership/feedbacks.png" alt="comments image" class="comments__img lazy">
      </div>
    </div>
  </div>
</section>