<footer class="footer" id="footer">
  <nav class="container">
    <div class="footer__main">
      <div class="footer__main-left">
        <a href="index.html" class="footer__logo">
          <img src="img/logo.svg" alt="logo">
        </a>
        <ul class="socials">
          <li class="socials__el">
            <a href="#" class="socials__link">
              <span class="icon-social icon-social--inst"></span>
            </a>
          </li>
          <li class="socials__el">
            <a href="#" class="socials__link">
              <span class="icon-social icon-social--tw"></span>
            </a>
          </li>
          <li class="socials__el">
            <a href="#" class="socials__link">
              <span class="icon-social icon-social--tg"></span>
            </a>
          </li>
          <li class="socials__el">
            <a href="#" class="socials__link">
              <span class="icon-social icon-social--linkedin"></span>
            </a>
          </li>
          <li class="socials__el">
            <a href="#" class="socials__link">
              <span class="icon-social icon-social--discord"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__main-right">
        <ul class="footer__menu">
          <li class="footer__menu-el">
            <a href="index.html" class="footer__menu-link scrollto active">
              Home
            </a>
          </li>
          <li class="footer__menu-el">
            <a href="research.html" class="footer__menu-link scrollto">
              Research
            </a>
          </li>
          <li class="footer__menu-el">
            <a href="aboutUs.html" class="footer__menu-link scrollto">
              About Us
            </a>
          </li>
          <li class="footer__menu-el">
            <a href="contactUs.html" class="footer__menu-link scrollto">
              Contact
            </a>
          </li>
        </ul>
        <form action="#" class="form form--small">
          <div class="email-container">
            <input type="text" class="email" placeholder="Email address">
          </div>
          <button type="submit" class="button">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="footer__footer">
      <p class="copyright">2022 All rights reserved.</p>
      <ul class="footer__footer-menu">
        <li class="footer__footer-menu-el">
          <a href="#" class="footer__footer-menu-link">Subscription Terms</a>
        </li>
        <li class="footer__footer-menu-el">
          <a href="#" class="footer__footer-menu-link">Copyright Notice</a>
        </li>
        <li class="footer__footer-menu-el">
          <a href="#" class="footer__footer-menu-link">Terms of Use</a>
        </li>
        <li class="footer__footer-menu-el">
          <a href="#" class="footer__footer-menu-link">Legal & Privacy</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>